<%- include ('header') -%>
    <ul class="navbar-nav ml-auto mt-10">
        <li class="nav-item">
            <a class="nav-link login-button" href="login.html">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link login-button" href="user-profile.html">Edit Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white add-button" href="ad-orders.html"><i class="fa fa-plus-circle"></i> Add
                Orders</a>
        </li>
    </ul>
    </div>
    </nav>
    </div>
    </div>
    </div>
    </section>
    <!--==================================
=            User Profile            =
===================================-->
    <section class="dashboard section">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">

                <div class="col-md-10 offset-md-60 col-lg-40 offset-lg-60">
                    <!-- Recently Favorited -->
                    <div class="widget dashboard-container my-adslist">
                        <!-- <h2 class="widget-header">ORDER - 1</h2> -->
                        <table class="table table-responsive product-dashboard-table">
                            <!-- <thead> -->
                            <tr>
                                <th rowspan="">Order - 1
                                </th>
                                <th>
                                <td class="action" data-title="Action">
                                    <div class="">
                                        <ul class="list-inline justify-content-center">
                                            <button type="submit" class="button1"><i class="fa fa-pencil"></i></button>
                                        </ul>
                                    </div>
                                </td>
                                </th>
                            </tr>
                            <td class="product-details">
                                <span class=""><strong>Order ID:</strong>ng3D5hAMHPajQrM</span>
                                <span><strong>Date: </strong><time>Jun 27, 2017</time></span>
                                <span class=""><strong>Amount:</strong> ₹500</span>
                                <span class=""><strong>CustName: </strong>Ayush Anand</span>
                                <span class="location"><strong>Address: </strong>New Delhi</span>
                                <span class="status active"><strong>Status: </strong>Delivered</span>
                                <span class=""><strong>PayMode: </strong>UPI</span>
                                <span class=""><strong>PayDate: </strong><time>Jun 27, 2017</time></span>

                            </td>
                            <tbody>
                                <tr>

                                    <td class="product-thumb">
                                        <img width="200px" height="auto" src="images/products/products-1.jpg"
                                            alt="image description">
                                    </td>
                                    <td class="product-details">
                                        <h3 class="title">Macbook Pro 15inch</h3>
                                        <span class="add-id"><strong>Item ID:</strong> ng3D5hAMHPajQrM</span>
                                        <span class="add-id"><strong>Item Type:</strong> Clothing</span>
                                        <span class="add-id"><strong>Item Price:</strong> ₹200</span>


                                    </td>
                                    <td class="action" data-title="Action">
                                        <div class="">
                                            <ul class="list-inline justify-content-center">



                                                <button type="submit" class="button1"><i
                                                        class="fa fa-trash"></i></button>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                    </div>
                    <tr>

                        <td class="product-thumb">

                            <img width="200px" height="auto" src="images/products/products-2.jpg"
                                alt="image description">
                        </td>
                        <td class="product-details">

                            <h3 class="title">Study Table Combo</h3>
                            <span class="add-id"><strong>Item ID:</strong> ng3D5hAMHPajQrM</span>
                            <span class="add-id"><strong>Item Type:</strong> Jewellery</span>
                            <span class="add-id"><strong>Item Price:</strong> ₹300</span>
                        </td>
                        <td class="action" data-title="Action">
                            <div class="">
                                <ul class="list-inline justify-content-center">
                                    <button type="submit" class="button1"><i class="fa fa-trash"></i></button>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                </div>
                </td>
                </tr>
                </tbody>
                </table>

            </div>

            <!-- pagination -->
            <div class="pagination justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- pagination -->

        </div>
        </div>
        <!-- Row End -->
        </div>
        <!-- Container End -->
    </section>
    <!--============================
=            Footer            =
=============================-->

    <%- include ('footer') -%>